.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1222px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 90px -132px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 480px;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: -66px auto 0;
}

.u-section-1 .u-image-1 {
  width: 227px;
  height: 148px;
  margin: 94px 114px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 227px;
  height: 148px;
  margin: -148px auto 0 114px;
}

.u-section-1 .u-image-3 {
  width: 227px;
  height: 148px;
  margin: -148px auto 0 457px;
}

.u-section-1 .u-group-1 {
  width: 227px;
  min-height: 75px;
  margin: 0 auto 0 114px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-2 {
  width: 227px;
  min-height: 75px;
  margin: -75px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-3 {
  width: 227px;
  min-height: 73px;
  margin: -75px 114px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-image-4 {
  width: 227px;
  height: 148px;
  margin: 105px auto 0 114px;
}

.u-section-1 .u-image-5 {
  width: 227px;
  height: 148px;
  margin: -148px auto 0 457px;
}

.u-section-1 .u-image-6 {
  width: 227px;
  height: 148px;
  margin: -148px auto 0 801px;
}

.u-section-1 .u-group-4 {
  width: 227px;
  min-height: 73px;
  margin: 0 auto 0 114px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-5 {
  width: 227px;
  min-height: 75px;
  margin: -73px auto 0 457px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 22px auto 0;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-6 {
  width: 227px;
  min-height: 71px;
  margin: -75px 112px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-image-7 {
  width: 227px;
  height: 148px;
  margin: 105px auto 0 105px;
}

.u-section-1 .u-image-8 {
  width: 227px;
  height: 148px;
  margin: -148px auto 0;
}

.u-section-1 .u-image-9 {
  width: 227px;
  height: 148px;
  margin: -150px 94px 0 auto;
}

.u-section-1 .u-group-7 {
  width: 227px;
  min-height: 73px;
  height: auto;
  margin: 2px auto 0 105px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-8 {
  width: 227px;
  min-height: 73px;
  height: auto;
  margin: -73px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

.u-section-1 .u-group-9 {
  width: 227px;
  min-height: 73px;
  height: auto;
  margin: -75px 94px 60px auto;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px 43px 6px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9150px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -8154px;
    margin-left: 656px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 57px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 378px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 2049px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -174px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 96px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -174px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 184px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -145px;
    margin-right: -120px;
    margin-left: 56px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2005px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1983px;
    margin-right: 12px;
    margin-left: 701px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -2235px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 16px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: 1974px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    margin-top: 1968px;
    margin-right: 12px;
    margin-left: 701px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 10456px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -8542px;
    margin-left: 436px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 118px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2004px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1982px;
    margin-right: 0;
    margin-left: 493px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -2233px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 118px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 118px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 10266px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -8062px;
    margin-left: 256px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: 114px;
    margin-left: 256px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: 114px;
    margin-left: 256px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1881px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 95px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 72px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 160px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1813px;
    margin-left: 313px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1790px;
    margin-left: 313px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -2018px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 95px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 1806px;
    margin-left: 313px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 94px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 1800px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 95px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 9930px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -7809px;
    margin-right: 113px;
    margin-left: 57px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 113px;
    margin-left: 57px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1821px;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 94px;
  }

  .u-section-1 .u-group-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1753px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1730px;
    margin-left: 113px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -1958px;
    margin-left: 113px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 1746px;
    margin-left: 113px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 1740px;
  }
}