.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 4px 2px 8px rgba(128,128,128,1);
  width: 646px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  width: 200px;
  margin: 237px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 6px auto 0 450px;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -28px auto 0 576px;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 52px;
  width: 52px;
  margin: 389px 447px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 52px;
  width: 52px;
  margin: -52px 546px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 52px;
  width: 52px;
  background-image: none;
  margin: -52px auto 39px 443px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 225px;
    margin-right: 363px;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-1 {
    width: 195px;
    height: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-left: 413px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    margin-left: 413px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 374px;
    margin-right: 363px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 363px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 267px;
    margin-right: 253px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 303px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 303px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 260px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 55px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 219px;
    margin-left: 177px;
    margin-right: 163px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-left: 213px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 213px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 420px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 137px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 233px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 224px;
    margin-left: 77px;
    margin-right: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 113px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 113px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 467px;
    margin-right: 55px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 70px;
  }
}