.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 4px 2px 8px rgba(128,128,128,1);
  width: 646px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  width: 200px;
  margin: 237px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 11px auto 0 490px;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 52px;
  width: 52px;
  margin: 384px 447px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 52px;
  width: 52px;
  margin: -52px 546px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 52px;
  width: 52px;
  background-image: none;
  margin: -52px auto 38px 443px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 88px;
    margin-left: 290px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -61px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -40px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 178px;
    margin-bottom: 60px;
    margin-left: 887px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 667px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 56px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -143px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -60px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -46px;
    margin-right: 488px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 183px;
    margin-left: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 288px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 288px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 287px;
  }
}